#container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
  }
  #registrationform, #data_table {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #form{
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
  }
  
  th {
    background-color: #f2f2f2;
  }